body {
    background-image: url('https://i.pinimg.com/originals/4d/1d/bc/4d1dbc581f002fa2fd33a80d54f3fd31.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}